.header__title{
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 730px;
  width: 100%;
  margin-left: 64px;
  display: flex;
  align-items: center;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 1;
}
